<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/framework/bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
            <link href="{{ asset('assets/framework/fontawesome-free-5.14.0-web/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/main/css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand border-right" href="{{ path('admin_home') }}">
                <i class="fa fa-microchip ml-2 mr-2" aria-hidden="true"></i> <!-- не отображается-->
            </a>
            <a class="navbar-brand" href="#">
                Админочка
                <i class="fa fa-magic" aria-hidden="false"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_home') }}">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_user') }}">Пользователи</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_category') }}">Категории</a>
                    </li>
                    {# <li class="nav-item active">
                        <a class="nav-link" target="_blank" href="{{ path('home') }}">Выход на сайт</a>
                    </li>#}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_product') }}">Товары</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_review') }}">Отзывы</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Выход</a>
                </form>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <script src="{{ asset('assets/framework/bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>