{% extends 'admin/adminbase.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 mt-5" >
                <a href="{{ path('admin_category_create') }}" class="btn btn-success">Создать категорию</a>
            </div>
        </div>
    </div>
    <div class="container - fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
               {% for message in app.flashes('success') %}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <h2>Список категорий</h2>
                <ul>
                    {% for category_item in category %}
                        <li>
                            <h5>
                                {{ category_item.title }}
                                <a href="{{ path('admin_category_update', {'id': category_item.id}) }}"
                                class="btn-link">
                                    Редактировать
                                </a>
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}