{% extends 'admin/adminbase.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h1 class="display-4 text-center mt-5">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters">
            {% if check_category is not empty %}
                <div class="col-12 mt-5" >
                    <a href="{{ path('admin_product_create') }}" class="btn btn-success">Создать товар</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters justify-content-center mt-3">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                {% if check_category is empty %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <p>
                            Создание товара невозможно, снчала создай категорию.
                        </p>
                        <hr>
                        <a href="{{ path('admin_category_create') }}">Создать категорию</a>
                    </div>
                {% else %}
                    <h2>Список товаров</h2>
                    <ul>
                        {% for product_item in product %}
                            <li>
                                <h5>
                                    <img src="{{ asset('uploads/product/') }}{{ product_item.image }}"
                                         style="width: 100px"
                                         alt="">
                                    {{ product_item.name }}
                                    <a href="{{ path('admin_product_update', {'id': product_item.id}) }}"
                                       class="btn-link">
                                        Редактировать
                                    </a>
                                    <p></p>
                                </h5>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}